.container {
  width: 90%;
  margin: 2rem auto;
}

.container .page_title {
  color: #5f5d5d;
  font-size: 2.2rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1.5rem;
}

.container .center {
  text-align: center;
}

.container .flex_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid red;
}

.container .list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
}

.container .card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 1rem 0.5rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 330px;
  flex: 0 0 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container .card .image {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.container .card .car_info {
  padding: 0.5rem;
  color: #646464;
}

.container .card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 0.3rem;
}

.container .btn_danger {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  background-color: #d60909;
  color: #fafafa;
  cursor: pointer;
  margin: 1rem 0.5rem;
  margin-top: auto;
}

.container .btn_danger:hover {
  opacity: 0.8;
}
